<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CurveReamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <CurveReamer.Properties.Settings>
            <setting name="CutBehaviour" serializeAs="String">
                <value>Table</value>
            </setting>
            <setting name="YSafe" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LineHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CutHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WidthOffset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PathThickness" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="StartingGCode" serializeAs="String">
                <value />
            </setting>
            <setting name="EndingGCode" serializeAs="String">
                <value />
            </setting>
            <setting name="DoCutAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValueUnits" serializeAs="String">
                <value>Milliliter</value>
            </setting>
            <setting name="FloorHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </CurveReamer.Properties.Settings>
    </userSettings>
</configuration>
